.controller-container {
    position: absolute;
    left: 1006px;
    top: 7px;
    background-color: yellow;
    height: 95%;
}

.new-card-font {
    text-align: center;
    font-size: 80px;
}

.new-card-button {
    height: 100px;
    width: 540px;
    margin-left: 22px;
    margin-bottom: 50px;
    background-color: blue;
    font-size: 80px;
}


.show-result {
    height: 100px;
    width: 540px;
    margin-left: 22px;
    margin-top: 100px;
    background-color: pink;
    font-size: 80px;
}
