.guess-container {
    width: 100%;
    height: 50%;
    background-color: blueviolet;
}

h1 {
    text-align: center;
}

.guess-input {
    margin-left: 28%;
}

.guess-input input {
    width: 400px;
    margin-left: 0;
}

.guess {
    margin-left: 28%;
    width: 400px;
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background-color: greenyellow;
}

