.play-container{
    background-color: chartreuse;
    width: 60%;
    height: 100%;
}

h1 {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.play-input {
    margin-left: 20%;
    margin-right: 20%;
}

input {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 100px;
    margin-bottom: 50px;
}

p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 65px;
}


